@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Playfair+Display+SC&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap");
/**** Colours ****/
/**** Font-sizes ****/
/**** Fonts ****/
.navBar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navList, .navItem a {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  z-index: 1;
  font-size: 18px;
  color: #FF8A8A;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 40px;
}
.navList :hover, .navItem a :hover {
  color: #bd0000;
}

.navListContainer {
  margin-top: 50px;
  width: 0px;
  height: 100vh;
  float: right;
  z-index: 1;
}

.navItemList {
  padding-top: 20px;
  width: 0px;
  height: 100%;
  float: right;
  z-index: 1;
}

.navListContainer.show {
  background-color: #ffb121;
  width: 20%;
  display: block;
  z-index: 1;
}

.navItemList.show {
  background-color: white;
  width: 100%;
  display: block;
  padding-top: 40px;
  z-index: 1;
}

#hamburger {
  font-size: 26px;
  height: 20px;
  float: right;
  margin-right: 40px;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1;
}

.hover:hover {
  cursor: pointer;
}

.hiddenList {
  display: none;
  padding-left: 20px;
}

#navLogo {
  width: auto;
  height: 200px;
}

#logo {
  position: absolute;
  top: -200px;
}

.section-1 {
  transition: all 2000ms ease-in-out;
}

#logo {
  transition: all 3000ms cubic-bezier(0.13, 1.96, 1, 1);
}

.hover {
  transition: color 250ms ease-in;
}

.sloganTopRow {
  transition: all 2500ms ease-in-out;
}

.sloganBottomRow {
  transition: all 2500ms ease-in-out;
}

.navListContainer {
  transition: all 250ms ease-in;
}

.navItemList {
  transition: all 500ms ease-out;
}

.productsLeft, .productsRight {
  transition: all 6000ms cubic-bezier(0.22, 1.61, 0.27, 1.07);
}

.productsLeft:hover, .productsRight:hover {
  transition: all 250ms ease-in;
}

.img-col {
  transition: all 1000ms ease-in-out;
}

.text-col {
  transition: all 1500ms ease-out;
}

.contact, .info, .socialList {
  transition: all 500ms ease-out;
}

.saleBanner {
  animation: saleBanner 4000ms linear alternate infinite;
}

@keyframes saleBanner {
  from {
    padding-right: 50vw;
  }
  to {
    padding-right: 0vw;
  }
}
footer {
  text-align: center;
  background-color: #240000;
  color: white;
  text-align: left;
  padding-left: 60px;
}
footer h2 {
  font-size: 4.5rem;
  font-family: "Raleway", sans-serif;
  margin-top: 6rem;
}
footer h3 {
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  margin: 5px 0;
}
footer h4 {
  margin: 5px 0;
}
footer p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  width: 70%;
  margin: 6rem auto;
  letter-spacing: 1.5px;
  line-height: 2rem;
}
@media screen and (max-width: 790px) {
  footer h2 {
    font-size: 46px;
  }
}
footer h3 {
  font-size: 18px;
  font-family: "Playfair Display SC", serif;
  margin: 5px 0;
}
footer h4 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  margin: 5px 0;
}

.contact {
  padding-top: 50px;
}

.locations {
  margin-top: 50px;
  padding-bottom: 50px;
}

.location {
  margin-top: 60px;
}

.splitSection {
  display: flex;
}

.col {
  width: 50%;
}

.info {
  padding-top: 80px;
  padding-bottom: 30px;
}

.phone {
  text-decoration: none;
  color: white;
}

.infoData {
  padding: 5px 0;
}

.social {
  cursor: pointer;
}
.social :hover {
  color: #ffb121;
  padding-left: 5px;
  transition: all 500ms ease-out;
}

.contact, .info, .socialList {
  opacity: 0.5;
}

.contact.scrolled, .info.scrolled, .socialList.scrolled {
  opacity: 0.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffb121;
}

.section-1 {
  background-image: url("../images/smudge-left.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.sloganMain {
  font-family: "Playfair Display SC", serif;
  font-size: 4.5rem;
  margin-top: 110px;
  z-index: 0;
}

.sloganText {
  margin-top: 0;
  line-height: 11rem;
  z-index: 0;
}

.sloganTopRow {
  text-align: right;
  padding-right: 60px;
  opacity: 0;
  top: 80px;
  right: 0px;
  position: absolute;
  z-index: 0;
}

.sloganBottomRow {
  padding-left: 60px;
  opacity: 0;
  bottom: 30px;
  position: absolute;
  z-index: 0;
}

.sloganFontChange {
  font-family: "Raleway", sans-serif;
  color: #FF8A8A;
}

.saleBanner {
  padding-top: 100px;
  text-align: right;
}

.sale {
  font-size: 30px;
  text-transform: uppercase;
  word-spacing: 200px;
  color: #ff5757;
}

.section-2 {
  background-color: #ffd7d7;
}

.productList {
  padding-bottom: 100px;
  padding-top: 10px;
  text-align: center;
}

.productItem {
  font-size: 6rem;
  text-transform: capitalize;
  color: black;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 6px;
  line-height: 50px;
}
.productItem:hover {
  color: #ffb121;
  font-size: 6.5rem;
  cursor: pointer;
}

.productsLeft {
  padding-right: 500px;
}

.productsRight {
  padding-left: 500px;
}

.splitSection {
  display: flex;
}

.col {
  width: 50%;
}

img.reviewImage {
  width: 50vw;
  height: auto;
  min-height: 100%;
}

.img-col {
  padding-top: 150px;
  opacity: 0.3;
}

.text-col {
  text-align: center;
  padding-top: 45vh;
  opacity: 0.1;
}
.text-col h2 {
  font-size: 4.5rem;
  font-family: "Raleway", sans-serif;
  margin-top: 6rem;
}
.text-col h3 {
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  margin: 5px 0;
}
.text-col h4 {
  margin: 5px 0;
}
.text-col p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  width: 70%;
  margin: 6rem auto;
  letter-spacing: 1.5px;
  line-height: 2rem;
}
@media screen and (max-width: 790px) {
  .text-col h2 {
    font-size: 46px;
  }
}

.text-col.scrolled, .img-col.scrolled {
  padding-top: 0px;
  opacity: 1;
}

.review-1 {
  background-color: #240000;
  color: white;
}

@media screen and (max-width: 1250px) {
  .navListContainer.show {
    width: 80%;
  }

  .sloganMain {
    font-size: 46px;
    margin-top: 15%;
  }

  .sloganText {
    line-height: 11rem;
  }

  .sloganTopRow {
    padding-bottom: 30%;
  }

  .saleBanner {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .section-1 {
    background: none;
    background-color: #e8e3e9;
  }

  .sloganMain {
    overflow: hidden;
  }

  .sloganText {
    overflow: hidden;
    line-height: 5rem;
    text-align: center;
  }

  .sloganTopRow {
    margin-top: 30%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 46px;
  }

  .sloganBottomRow {
    text-align: center;
    margin-bottom: 18%;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    font-size: 38px;
  }

  .productList {
    overflow: hidden;
  }

  .productItem {
    font-size: 46px;
  }

  .review-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .review-2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .img-col {
    display: block;
    margin: auto;
    padding-bottom: 20px;
  }

  footer {
    padding-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
